#body
{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
}

#title
{
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    margin-top: 30px;
    margin-right: 150px;
    color: moccasin;
}

#form
{
    margin-top: 30px;
    width: 650px;
    margin-right: 0px;
    color: moccasin;
}

.radio_pos
{
    display: inline-block;
    margin-left: 20px;
}

.box_size
{
    width: 400px;
}

.label_pos
{
    margin-bottom: 10px;
    margin-top: -10px;
}

.col-sm-10.box_size.checkbox_list
{
    border:2px solid #ccc;
    border-radius: 8px;
    width:300px;
    height: 100px;
    overflow-y: scroll;
}